{% extends 'main/base.html' %}
{% block content %}
{% if form.errors %}
<div class="container">

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Erreur de formulaire
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <br><br>
    <h5 class="text-center fs-3 ">Créer un ticket</h5>
    <br><br>

<form action="{% url 'create_ticket' %}" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    {{ form.as_p }}
    <br><br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        
        
        <input type="submit" value="Envoyer" class="btn btn-secondary ">
    </div>
</form>
</div>
{% endblock %}