{% block content %}
<br>
<div class="card ">
    <div class="card-body">
        <div class="d-grid gap-2 d-md-flex justify-content-between">
            {% if review.user == request.user %}
            <p> <strong>Vous</strong> avez publié une critique </p>
            <p>{{review.time_created}}</p>
            {%else%}
            <p> <strong>{{review.user}}</strong> a publié une critique </p>
            <p>{{review.time_created}}</p>
            {% endif%}
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex flex-row mb-3">
            <h5 class="card-title">{{review.headline}} </h5>
            <div>
                <p class="ms-3 fs-6 text">
                {%for i in '12345' %}
                {% if forloop.counter <= review.rating %}
                ★
                {%else%}
                ☆
                {%endif%}
                {%endfor%}
                </p>
            </div>
        </div>
        <p class="card-text">{{review.body}}</p>

        {% if False %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'response_ticket' ticket.id %}" class="btn btn-secondary">Modifier</a>
        </div>
        {%endif %}
    </div>
    <div class="container">
        {% with ticket=review.ticket display_review_button=False %}
        {% include 'main/ticket_snippet.html' %}
        {%endwith%}
    </div>
    <br>
</div>
{% endblock %}