{% extends 'main/base.html' %}
{% block content %}
{% if form.errors %}
<div class="container">

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Erreur de formulaire
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <br><br>
    <h5 class="text-center fs-3 ">Modifer votre Ticket</h5>
    <br><br>

    <form action="{% url 'update_ticket' ticket.id %}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {{ form.as_p }}
        {% if ticket.image %}
        <div class="fs-5"> Image actuelle :</div>
        <img src="{{ticket.image.url}}" style="height: 300px" alt="...">
        {%endif%}
        <br><br>
        <div class="d-flex justify-content-md-end">
            <input type="submit" value="Modifer" class="btn btn-secondary ">
        </div>
    </form>
</div>
{% endblock %}